<div id="tf-eventList" >
  <div class="overlay">
    <div class="container">
      <div class="section-title center text-center">
        <h2> <strong>EventList</strong></h2>
        <div class="line">
          <hr>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Event</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let photonEvent of photonEventList">
              <td class="active eventList-date" rowspan="1">
                <div class="dayofmonth">{{photonEvent.data | date:'dd'}}</div>
                <div class="dayofweek">{{photonEvent.data | date:'EEEE'}}</div>
                <div class="shortdate text-muted">{{photonEvent.data | date:'MMM'}}, {{photonEvent.data | date:'yyyy'}}</div>
              </td>
              <td class="time">
                {{photonEvent.data | date:'shortTime'}}
              </td>
              <td class="Event">
                <div class="agenda-event">
                  {{photonEvent.type}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
