.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30pt;
  margin-top: 20px;
}
.stopwatchButton {
  margin-top: 30px;
}


.recodingIconPaused {
  font-size: 25pt;
  margin-top: 25px;
  margin-left: 10px;
  color: gray
}

.recodingIconRec {
  font-size: 25pt;
  margin-top: 25px;
  margin-left: 10px;
  color: red
}
