<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h3> Augewählter run : {{run.runnumber}} </h3>
      <app-history-chart [historyChartData]="tempHistory" [limit]="pressureLimitLine"> </app-history-chart>
    </div>
    <div class="col-md-3">
        <h3> Runlist </h3>
      <table class="table table-sm my-selector-table">
        <thead align="center">
          <tr>
            <th>num</th>
            <th>name</th>
            <th>kill</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let run of runs">
            <td (click)="onClickRunNum(run.runnumber)">
              {{run.runnumber}}
            </td>
            <td (click)="onClickRunNum(run.runnumber)">
              {{run.rundescription}}
            </td>
            <td>
              <i class="fa fa-trash" (click)="onClickDelete(run.runnumber)"> </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<abbr></abbr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h3> Run statistiken </h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">

  </div>
</div>
<!--
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-9">
      <p>Range: {{startDate}} - {{endDate}}</p>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
-->
