<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <a class="navbar-brand" href="#"> <img src="./assets/img/IFGS_Logo_black_small.png" >  </a>
  <div class="navbar">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"> Dashboard </a>
    <a class="nav-link" routerLink="/eventlist" routerLinkActive="active"> Eventlist </a>
    <!-- a class="nav-link" routerLink="/chart" routerLinkActive="active"> Chart </a-->
    <!--a class="nav-link" routerLink="/temp-display" routerLinkActive="active"> TempDisplay </a-->
    <a class="nav-link" routerLink="/history" routerLinkActive="active"> History </a>
  </div>
</nav>
